body {
    background-color: #330000;
    color: white;
  }

  .footer, .feature-image, .collapsible {
    background-color: rgba(225, 0, 0, 0.1);
    color: white;
  }

  .active {
    background-color: rgba(255, 51, 51, 0.5);
  }

  .content {
    background-color: rgba(225, 0, 0, 0.1);
  }

  .mms-feature:hover {
    color: #fff;
  }
/* 
  .sep img {
    height: 20px;
  } */

  .copyright {
    color: #ccc;
  }

  .navbar-collapse {
    background-color: rgba(70, 0, 0);
  }

  .navbar-toggler > span {
    background-color: #fff;
  }

  .para1, .para2 {
    border-color: #ccc;
  }

  .dropdown {
    background-color: rgba(70, 0, 0);
  }

  .anime::after {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .contact-form input, .text-area textarea {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }

  .card-info i, .card-info p, .card hr {
    color: rgba(255, 255, 255, 0.7);
  }

  @media screen and (min-width: 850px) {
    /* .sep img {
      height: 30px;
    } */

    .navbar-collapse {
      background-color: transparent;
    }
  }

  @media screen and (min-width: 1080px) {
    .contact-specify {
      background-color: rgba(225, 0, 0, 0.1);
    }  
  }

  /* About page */ 
  .about-image-bg {
    background-color: #450000;
    box-shadow: 5px 5px 10px #f00;
  }

  .about-image-bg:hover {
    box-shadow: 10px 10px 10px #f00;
  }
