/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}
  
  /******************************************
  /* BASE STYLE
  /*******************************************/

  html, body {
    height: 100%;
    color: #000;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.3em;
  }

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* Media queries */
  @media screen and (min-width: 592px) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
  

  a {
    text-decoration: none;
    color: inherit;
  }

  strong {
    font-weight: 700;
  }
  
  .text-center {
    text-align: center;
  }

  .red {
    color: red;
  }

  .white {
    color: #ffffff
  }

  .bg-red {
    background-color: #ff0000;
  }

  section, footer {
    padding: 1.5rem 0;
  }

  .container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    position: relative;
  }

  .img {
    width: 100%;
  }

  .fa-brands, .fa-solid, .fas {
    font-family: 'FOnt Awesome 6 Free';
    font-weight: 900;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/

  .main h1 {
    margin: 1.5em 0 1em 0;
  }

  /* Hero Section */
  .mail-input, .mail-button {
    width: 100%;
    min-height: 2.5em;
    margin-bottom: 1em;
    font-size: 0.9rem;
    outline: none;
    border-radius: 5px;
    border: none;
  }

  .mail-input {
    padding-left: 1em;
    background-color: #ccc;
  }

  .mail-button {
    background-color: #f00;
    color: #fff;
    padding: 0 3em;
    width: auto;
    font-size: 1.2rem;
    border-radius: 1.25em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .mail-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
  }

  .form {
    margin-top: 1.5em;
  }

  .partners h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .partners-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1em;
  }

  /* Media Queries */
    @media screen and (min-width: 479px) {
      .form form {
        display: flex;
        max-width: 350px;
        margin: auto;
        justify-content: space-between;
        background-color: #ccc;
        padding: 3px;
        border-radius: 5px;
      }

      .mail-input, .mail-button {
        margin-bottom: 0;
      }

      .input {
        flex-grow: 2;
      }
    }

    @media screen and (min-width: 850px) {
      section, footer {
        padding: 1.5rem 6.25rem 6.25rem
      }

      .partners {
        padding: 4rem 0 1.5rem;
      }

      .main {
        margin-bottom: 0;
      }

      .main-section {
        max-width: 600px;
      }
    }
  

  /* Product1 Section */
  .feature-image {
    height: 350px;
    display: flex;
    align-items: center;
    background-color: rgba(225, 0, 0, 0.1);
    padding: 1em;
    border-radius: 5px;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); */
    margin-bottom: 1.5em;
  }

  .image-banner {
    height: 275px;
    width: 100%;
    background-image: url('../img/oj3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .product-text h2 {
    margin-bottom: 1em;
  }

  .product-text p {
    margin-bottom: 0.875em;
  }

  .product-feature {
    position: relative;
  }

  .product-feature li {
    margin-left: 4em;
  }

  .product-feature li::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5em;
    content: '\f019';
    display: flex;
    position: absolute;
    left: 0;
    color: #f00;
    background-color: rgba(225, 0, 0, 0.1);
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    vertical-align: text-bottom;
  }

  .product-feature li:nth-child(2)::before {
    content: '\f007';
  }

  .product-feature li:nth-child(3)::before {
    content: '\f19c';
  }

  .product-feature li:nth-child(4)::before {
    content: '\24';
  }

  .product-feature h3 {
    font-size: 1rem;
  }

  /* Media Queries */ 
  @media screen and (min-width: 850px) {
    .product .container {
      display: flex;
      flex-direction: row-reverse;
    }

    .feature-image, .product-text {
      width: 50%;
    }

    .product-text {
      margin-right: 5em;
    }

    .feature-image {
      min-height: 550px;
      align-self: center;
    }
  }

  /* Product 2 Section */
  .card {
    margin-bottom: 1em;
  }

  .collapsible {
    background-color: rgba(225, 0, 0, 0.1);
    cursor: pointer;
    padding: 1em;
    width: 100%;
    outline: none;
    border: none;
    text-align: left;
  }

  .active, .collapsible:hover {
    background-color: rgba(255, 51, 51, 0.5);
  }

  .collapsible::after {
    content: '\f107';
    color: #f00;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    float: right;
  }

  .active::after {
    content: '\f106';
  }

  .content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(225, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }

  .content p {
    padding-top: 1rem;
  }

  .color-red {
    background-color: #f00;
    color: white;
  }

  /* Product 3 Section */
  .mms-feature {
    padding: 2rem;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
    margin-top: 10px;
  }

  .mms-feature:hover {
    transform: translateY(-5px);
    background-color: rgba(225, 0, 0, 0.1);
    border-radius: 1em;
    border-bottom: 5px solid red;
    color: #555;
  }

  .fa-gradient {
    /* background-image: linear-gradient(45deg, #ff0000, #ff9999);
    background-clip: text;
    color: transparent; */
    color: #ff0000;
    font-size: 2rem;
    margin-bottom: 0.4em;
  }

  /* Product 4 Section */
  .pocket {
    transition: all 0.2s ease-in-out;
  }

  .pocket::after {
    display: none;
  }

  .pocket:hover {
    border-left: 5px solid red;
  }

  .pocket:hover::after {
    display: block;
  }

  /* Newsletter Section */
  .newsletter .mail-button {
    background-color: #ccc;
    color: #ff0000;
    font-weight: 700;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }

  /* Media Queries */
    @media screen and (min-width: 850px) {
      .newsletter {
        padding-top: 3rem;
      }
    }

  /* footer */
  .footer {
    background-color: #ccc;
  }

  .footer-row h5 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  .social-links {
    display: flex;
    gap: 2em;
  }

  .contact-list li {
    margin-bottom: 1.25em;
  }

  .copyright h6 {
    font-weight: 400;
  }

  .copyright {
    border-top: 1px solid #555;
    padding: 0.85em;
    color:rgba(0, 0, 0, 0.5);
  }

  /* Media Queries */
  @media screen and (min-width: 850px) {
    footer {
      padding-bottom: 1.5rem;
    }

    .footer-row {
      display: flex;
      justify-content: space-between;
      padding: 6.25rem 0;
    }

    .about, .contact, .follow {
      flex-basis: 33.33%;
    }

    .footer-row section {
      padding: 1.5rem;
    }
  }

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  /* Dark theme */

  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: #330000;
      color: white;
    }

    .footer, .feature-image, .collapsible {
      background-color: rgba(225, 0, 0, 0.1);
      color: white;
    }

    .active {
      background-color: rgba(255, 51, 51, 0.5);
    }

    .newsletter {
      background-color: rgba(255, 0, 0, 0.5);
    }

    .footer h5 {
      color: rgba(255, 0, 0, 0.7);;
    }

    .content {
      background-color: rgba(225, 0, 0, 0.1);
    }

    .mms-feature:hover {
      color: #fff;
    }
  }

  /*******************************************/
  