/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}

/* Clearfix Hack */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
  
  /******************************************
  /* BASE STYLE
  /*******************************************/

  html, body {
    height: 100%;
  }

  body {
    background-color: #fefefe;
    color: #000;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    position: relative;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.3em;
  }

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* Media queries */
  @media screen and (min-width: 850px) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
  /******************/
  

  a {
    text-decoration: none;
    color: inherit;
  }

  strong {
    font-weight: 700;
  }
  
  .text-center {
    text-align: center;
  }

  .red {
    color: red;
  }

  .white {
    color: #ffffff
  }

  .bg-red {
    background-color: #ff0000;
  }

  section, footer {
    padding: 1.5rem 0;
  }

  .container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    position: relative;
  }

  .img {
    width: 100%;
  }

  .fa-brands, .fa-solid, .fas {
    font-family: 'FOnt Awesome 6 Free';
    font-weight: 900;
  }

  .small {
    font-size: 0.85rem;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/
  /* Nav */
  .navbar {
    padding: 1.5em;
  }

  .navbar .containers {
    position: static;
    display: flex;
    padding: 0;
    justify-content: space-between;
  }

  .navbar-brand {
    display: inline-block;
  }

  .navbar-brand::before {
    content: "";
    display: block;
    float: left;
    margin-right: 7px;
    height: 100%;
    width: 32px;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .navbar-brand:hover {
    color: #f00;
  }

  .navbar-toggler {
    display: block;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  .navbar-collapse {
    display: none;
    background-color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    padding: 3em;
  }

  .navbar-active{
    display: block;
  }

  .navbar-close {
    display: none;
    font-size: 60px;
    cursor: pointer;
    order: 1;
    color: #f00;
    z-index: 2;
  }

  .navbar-toggler > span {
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 2.5px;
    background-color: #000;
    margin-bottom: 5px;
  }

  .navbar-toggler > span:last-child {
    margin-bottom: 0;
  }

  .navbar-nav {
    position: relative;
    top: 20px;
  }

  .nav-item {
    margin-bottom: 2em;
  }

  .products-toggle {
    position: relative;
  }

  .products-toggle > a::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .1em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
  }

  .dropdown {
    display: none;
    position: relative;
    right: 0;
    z-index: 1;
    min-width: min-content;
    background-color: #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1em;
  }

  .dropdown a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .mms-drop, .ehr-drop, .drs-drop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .mms-drop::before, .ehr-drop::before, .drs-drop::before {
    content: "";
    width: 2em;
    height: 2em;
    border-radius: 1.1em;
    background-image: url('../img/m1.png');
    background-size: cover;
  }

  .ehr-drop::before {
    background-image: url('../img/e1.png');
  }

  .drs-drop::before {
    background-image: url('../img/d1.png');
  }

  .products-toggle:hover .dropdown {
    display: block;
  }

  .nav-item a:hover {
    color: #ff0000;
  }

  /* Media Queries */
  @media screen and (max-width: 709px) {
    .dropdown {
      flex-direction: column;
    }
  }
  @media screen and (min-width: 710px) and (max-width: 849px) {
    .dropdown {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .mms-drop, .ehr-drop, .drs-drop {
      flex-basis: 50%;
    }
  }
  @media screen and (min-width: 850px) {
    .header {
      margin-bottom: 1em;
    }

    .navbar {
      padding: 2em;
      padding-left: 1em;
    }

    .navbar-toggler, .navbar-close {
      display: none !important;
    }

    .navbar .containers {
      padding: 0 1rem 0 0
    }

    .navbar-brand {
      position: relative;
    }

    .navbar-collapse {
      display: block;
      position: relative;
      width: auto;
      padding: 0;
      background-color: transparent;
    }

    .navbar-nav {
      display: flex;
      gap: 4.5em;
      top: 0;
    }

    .nav-item:last-child a{
      background-color: #ff0000;
      padding: 0.75em 1.5em;
      border-radius: 12px;
      border: 1px solid red;
      color: #fff;
    }

    .nav-item:last-child:hover a {
      background-color: transparent;
      color: #ff0000;
    }

    .dropdown {
      position: absolute;
      min-width: 700px;
      background-color: #fff;
      top: 2em;
      margin: 0 auto;
      flex-wrap: wrap;
      
    }

    .mms-drop, .ehr-drop, .drs-drop {
      width: 50%;
    }
  }

  /* Hero Section */
  .main {
    position: relative;
  }

  .main h1 {
    margin: 1.5em 0 1em 0;
  }

  .mail-input, .mail-button {
    width: 100%;
    min-height: 2.5em;
    margin-bottom: 1em;
    font-size: 0.9rem;
    outline: none;
    border-radius: 5px;
    border: none;
  }

  .mail-input {
    padding-left: 1em;
    background-color: #ccc;
  }

  .mail-button {
    background-color: #f00;
    color: #fff;
    padding: 0 1.5em;
    width: auto;
    font-size: 1.2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .mail-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
  }

  .form {
    margin-top: 1.5em;
  }

  .partners h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .partners-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  .shapes > div {
    display: none;
  }

  /* Media Queries */
    @media screen and (min-width: 479px) {
      .form form {
        display: flex;
        max-width: 350px;
        margin: auto;
        justify-content: space-between;
        background-color: #ccc;
        padding: 3px;
        border-radius: 5px;
      }

      .mail-input, .mail-button {
        margin-bottom: 0;
      }

      .input {
        flex-grow: 2;
      }

    }

    @media screen and (min-width: 675px) and (max-width: 849px) {
      section, .footer {
        padding: 1.5rem 3.125rem 3.125rem;
      }
    }

    @media screen and (min-width: 850px) {
      section, footer {
        padding: 1.5rem 6.25rem 6.25rem;
      }

      .partners {
        padding: 4rem 0 1.5rem;
      }

      .main {
        margin-bottom: 0;
      }

      .main-section {
        max-width: 600px;
      }

      .mail-button {
        padding: 0 3em;
      }

      /* .partners-container img {
        width: 135px; */
        /* height: 85px;
      } */

      .shapes > div {
        position: absolute;
        font-size: 0.625rem;
        display: block;
      }
    
      #star1 {
        top: 20%;
        left: 20%;
      }
    
      #star2 {
        bottom: 38%;
        right: 20%;
      }
    
      #circle1 {
        top: 55%;
        left: 35%;
      }
    
      #circle2 {
        top: 27%;
        right: 25%;
      }
    
      #naira {
        bottom: 47%;
        left: 8%;
      }
    
      #steth {
        top: 18%;
        right: 8%;
      }
    
      #briefcase {
        top: 7%;
        right: 35%;
      }
    }
  

  /* Product1 Section */
  .feature-image {
    min-height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(225, 0, 0, 0.1);
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1.5em;
    position: relative;
    overflow: hidden;
  }

  .image-banner {
    min-height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .image-banner.mms-banner {
    background-image: url('../img/mms1.png');
  }

  .image-banner.ers-banner {
    background-image: url('../img/ehr.png');
  }

  .image-banner.drs-banner {
    background-image: url('../img/DRS\ 1\(1\).png');
  }

  .image-banner > img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .product-text h2 {
    margin-bottom: 1em;
    cursor: pointer;
  }

  .product-text button {
    cursor: pointer;
    border: none;
  }

  .product-text p {
    margin-bottom: 0.875em;
  }

  .product-feature {
    position: relative;
  }

  .product-feature li {
    margin-left: 4em;
  }

  .product-feature li::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5em;
    content: '\f72b';
    display: flex;
    position: absolute;
    left: 0;
    color: #f00;
    background-color: rgba(225, 0, 0, 0.1);
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    vertical-align: text-bottom;
  }

  .product-feature li:nth-child(2)::before {
    content: '\f233';
  }

  .product-feature li:nth-child(3)::before {
    content: '\f6ff';
  }

  .product-feature li:nth-child(4)::before {
    content: '\f132';
  }

  .product-feature h3 {
    font-size: 1rem;
  }

  .drs p, .drs h3 {
    margin-bottom: 0.875em;
  }

  .drs li {
    margin-bottom: 1.5em;
  }

  .mail-button.product {
    padding: 0 1.5em;
    margin-top: 1em;
  }

  /* Media Queries */ 
  @media screen and (min-width: 1080px) {
    .product .container {
      display: flex;
      flex-direction: row-reverse;
    }

    .feature-image, .product-text {
      width: 50%;
    }

    .product-text {
      margin-right: 5em;
    }

    .feature-image {
      min-height: 550px;
      position: relative;
      margin-bottom: 0;
    }

    /* .image-banner {
      position: absolute;
      top: 1em;
      animation: slide 10s linear infinite alternate;
    }

    @keyframes slide {
      from {top: 1em;}
      to {top: calc(100% - (450px + 1em));}
    } */
  }

  /* Product 2 Section */
  .card {
    margin-bottom: 1em;
  }

  .collapsible {
    background-color: rgba(225, 0, 0, 0.1);
    cursor: pointer;
    padding: 1em;
    width: 100%;
    outline: none;
    border: none;
    text-align: left;
  }

  .active, .collapsible:hover {
    background-color: rgba(255, 51, 51, 0.5);
  }

  .collapsible::after {
    content: '\f107';
    color: #f00;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    float: right;
  }

  .active::after {
    content: '\f106';
  }

  .content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(225, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }

  .content p {
    padding-top: 1rem;
  }

  .color-red {
    background-color: #f00;
    color: white;
  }

  /* Media Queries */
  @media screen and (min-width: 850px) {
    .ers .container {
      flex-direction: row;
      justify-content: space-between;
    }

    .ers .product-text {
      margin-right: 0;
    } 

    .ers .feature-image {
      margin-right: 5em;
    }
  }

  /* Product 3 Section */
  .mms-feature {
    padding: 1.5rem;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
    margin-top: 10px;
  }

  .mms-feature:hover {
    transform: translateY(-5px);
    background-color: rgba(225, 0, 0, 0.1);
    border-radius: 1em;
    border-bottom: 5px solid red;
    color: #555;
  }

  .fa-gradient {
    /* background-image: linear-gradient(45deg, #ff0000, #ff9999);
    background-clip: text;
    color: transparent; */
    color: #ff0000;
    font-size: 2rem;
    margin-bottom: 0.4em;
  }

  /* Product 4 Section */
  .pocket {
    transition: all 0.2s ease-in-out;
  }

  .pocket::after {
    display: none;
  }

  .pocket:hover {
    border-left: 5px solid red;
  }

  .pocket:hover::after {
    display: block;
  }

  /* Team Section */
  .team .container{
    background-color: rgba(225, 0, 0, 0.1);
    padding: 1.5rem;
  }

  .news h2, .news p {
    margin-bottom: 1em;
  }

  .team-image {
    display: none;
  }

  /* Media Queries */
    @media screen and (min-width: 645px) {
      .team {
        padding: 1.5rem;
      }

      .team .container {
        padding: 50px;
        border-radius: 10px;
      }

      .news h2, .news p {
        margin-bottom: 1.2rem;
      }
    }

    @media screen and (min-width: 1080px) {
      .team .container {
        padding-left: 100px;
      }

      .team-image{
        display: block;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 2em;
      }

      .team-image img {
        width: 100%;
      }

      .news {
        max-width: 450px;
      }
    }

  /* footer */
  .footer {
    background-color: rgba(178, 34, 34, 0.4);
  }

  .footer-row h5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  .footer {
    font-size: 0.825rem;
  }

  .social-links {
    display: flex;
    gap: 2em;
  }

  .social-links li, .other-links li {
    margin-bottom: 1.25em;
  }

  .contact-list li {
    margin-bottom: 1.25em;
  }

  .contact-list a {
    text-decoration: underline;
  }

  .copyright h6 {
    font-weight: 400;
  }

  .copyright {
    border-top: 1px solid #555;
    padding: 0.85em;
    color:rgba(0, 0, 0, 0.5);
  }

  /* Media Queries */
  @media screen and (min-width: 675px) {
    footer, .footer section {
      padding: 1.5rem 3.125rem;
    }
  }

  @media screen and (min-width: 1080px) {
    footer {
      padding-bottom: 1.5rem;
    }

    .footer-row {
      display: flex;
      justify-content: space-between;
      padding: 6.25rem 0;
      flex-wrap: wrap;
    }

    .about, .contact, .follow, .blog {
      flex-basis: 25%;
    }

    .footer-row section {
      padding: 1.5rem;
    }
  }

  /* Curved Para */
  .para1, .para2 {
    display: inline-block;
    position: absolute;
    top: -120px;
    left: -20px;
    width: 250px;
    height: 250px;
    border: 1px solid #555;
    border-start-end-radius: 25% 50%;
    border-end-end-radius: 100% 100%;
    border-end-start-radius: 50% 25%;
    border-top-color: transparent;
    border-left-color: transparent;
  }

  .para2 {
    top: -100px;
    left: -20px;
    width: 300px;
    height: 200px;
    border-start-end-radius: 10% 25%;
    border-end-end-radius: 100% 125%;
  }

  .cir-cir-1, .cir-cir-2 {
    width: 350px;
    height: 350px;
    border: 1px solid #555;
    border-radius: 50%;
    position: absolute;
  }

  .cir-cir-2 {
    width: 250px;
    height: 250px;
  }

  @media screen and (min-width: 850px) {
    .para1 {
      top: -20px;
      left: -20px;
      width: 250px;
      height: 250px;
      border-start-end-radius: 25% 50%;
      border-end-end-radius: 100% 100%;
      border-end-start-radius: 50% 25%;
      border-start-start-radius: 63px 125px;
    }

    .para2 {
      top: -20px;
      left: -20px;
      width: 300px;
      height: 200px;
      border-start-end-radius: 10% 25%;
      border-end-end-radius: 100% 125%;
    }

    .cir-cir-1 {
      top: -7px;
      right: -250px;
      width: 500px;
      height: calc(50% + 50px);
      border-end-start-radius: 100% 100%;
      border-end-end-radius: 100% 100%;
      border-start-start-radius: 25% 100%;
    }

    .cir-cir-2 {
      top: -30px;
      right: -160px;
      width: 400px;
      height: calc(50% + 30px);
    }

    .curv-1 {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 14px solid white;
      position: absolute;
    }

    .team .container {
      position: relative;
      overflow: hidden;
    }

    .team .container::before {
      content: "";
      display: block;
      width: 400px;
      height: 400px;
      border: 1px solid rgba(225, 0, 0, 0.3);
      border-radius: 50%;
      position: absolute;
      top: -30px;
      left: 35%;
    }

    .curv-1 {
      content: "";
      display: block;
      width: 400px;
      height: 400px;
      border: 1px solid rgba(225, 0, 0, 0.3);
      border-radius: 50%;
      position: absolute;
      bottom: -30px;
      left: 35%;
    }
  }

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  /* Dark mode toggler web component */
  aside {
    position: absolute;
    right: 0;
    padding: 0.5rem;
    z-index: 1;
  }

  #dark-mode-toggle-2 {
    --dark-mode-toggle-dark-icon: url("sun.svg");
    --dark-mode-toggle-light-icon: url("moon.svg");
    --dark-mode-toggle-icon-size: 2rem;
    --dark-mode-toggle-icon-filter: invert(100%);
  }

  dark-mode-toggle::part(toggleLabel) {
    vertical-align: top;
  }

  @media screen and (min-width: 850px) and (max-width: 949px) {
    .nav-item:first-of-type {
      position: absolute;
      right: 0;
      top: 50px;
    }
  }

  @media screen and (min-width: 950px) {
    .nav-item:first-of-type {
      position: absolute;
      left: -60px;
      top: -5px;
    }
  }

  /* Redirect button */
  .redirect {
    font-size: 1rem;
    background-color: rgba(225, 0, 0, 0.1);
    color: #f00;
    padding: 0.75em;
    border-radius: 10px;
  }

  .redirect:hover {
    color:#fff;
    background-color: #f00;
  }

  /* Shapes Pulsating Animation */
  .anime {
    position: relative;
    width: 30px;
    height: 30px;
  }

  .anime::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: calc(-25% - 2px);
    margin-top: calc(-25% - 2px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 45px;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  @keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }


  /* CONTACT PAGE */
  /* Contact section */
  .contact-section .container {
    margin-top: 3rem;
  }

  .contact-text {
    margin: 1.5em 0 1.5em;
  }

  .card-info {
    font-size: 0.9rem;
    cursor: pointer;
  }

  .card-info:hover {
    transform: scale(1.01, 1.01);
  }

  .card-info i {
    font-size: 0.75em;
    float: right;
  }

  .card-info h3 {
    font-size: 1rem;
  }

  .card-info i, .card-info p, .card hr {
    color: rgba(0, 0, 0, 0.7);
  }

  .control-form, .text-area {
    margin-bottom: 1em;
  }

  .control-form label, .text-area label {
    display: block;
    font-size: 0.8em;
  }

  .control-form input {
    width: 100%;
    outline: none;
  }
  .contact-form input, .text-area textarea {
    padding: 7px 5px;
    outline: none;
    border: 1px solid #777;
  }

  .text-area textarea {
    width: 100%;
    resize: none;
  }

  .contact-form .mail-button {
    border-radius: 5px;
    width: 100%;
    font-size: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .contact-info {
    margin-top: 2em;
  }

  .contact-info h3 {
    margin-bottom: 1em;
  }

  .contact-location {
    display: flex;
    gap: 1em;
  }

  .location-info p {
    margin-bottom: 1em;
  }

  .contact-location i {
    color: #f00;
  }

  .contact-icons {
    display: none;
  }

  /* Media queries */
  @media screen and (min-width: 1080px) {
    .contact-section {
      display: flex;
      gap: 2em;
      align-items: center;
      padding-top: 3rem;
      flex-direction: row-reverse;
    }

    .contact-specify {
      padding: 2em;
      background-color: #fff;
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
    }

    .contact-icons {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 51px;
      background-color: #FCE4E4;
      position: absolute;
      top: 52vh;
      left: 52vw;
      z-index: -1;
    }

    .contact-icons i {
      font-size: 2rem;
      color: #f00;
    }
    
  }


  /* swiper */
  .swiper {
        width: 100%;
        /* height: 200px; */
      }

      .swiper-slide {
        text-align: center;
        /* background: #fff; */

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-wrapper {
        display: flex;
        align-items: center;
      }

      /* .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      } */


  /********************************************/
  