/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}
  
  /******************************************
  /* BASE STYLE
  /*******************************************/

  html, body {
    height: 100%;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    line-height: 26px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }
  
  .text-center {
    text-align: center;
  }

  .red {
    color: red;
  }

  section, footer {
    padding: 1.5rem 0;
  }

  .container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    position: relative;
  }

  .img {
    width: 100%;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/

  .main h1 {
    margin: 1.5em 0 1em 0;
    line-height: 2.5rem;
  }

  /* Hero Section */
  .mail-input, .mail-button {
    width: 100%;
    min-height: 2.5em;
    margin-bottom: 1em;
    font-size: 0.9rem;
    outline: none;
    border-radius: 5px;
    border: none;
  }

  .mail-input {
    padding-left: 1em;
    background-color: #ccc;
  }

  .mail-button {
    background-color: #f00;
    color: #fff;
  }

  .form {
    margin-top: 1.5em;
  }

  .partners h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .partners-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1em;
  }
  

  /* Product1 Section */
  .feature-image {
    height: 350px;
    display: flex;
    align-items: center;
    background-color: #ccc;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5em;
  }

  .image-banner {
    height: 275px;
    width: 100%;
    background-image: url('../img/oj3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .product-text h2 {
    line-height: 2rem;
    margin-bottom: 1em;
  }

  .product-text p {
    margin-bottom: 0.875em;
  }

  .product-feature {
    position: relative;
  }

  .product-feature li {
    margin-left: 4em;
  }

  .product-feature li::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5em;
    content: '\f019';
    display: flex;
    position: absolute;
    left: 0;
    color: #f00;
    background-color: #ccc;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    /* padding: 0.625em; */
    vertical-align: text-bottom;
  }

  .product-feature li:nth-child(2)::before {
    content: '\f007';
  }

  .product-feature li:nth-child(3)::before {
    content: '\f19c';
  }

  .product-feature li:nth-child(4)::before {
    content: '\24';
  }


  .product-feature h3 {
    font-size: 1rem;
  }

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  